<div *ngIf="authLoading || configLoading">Loading...</div>
<div class="container" *ngIf="!authLoading && !configLoading">
    <h2>Guess The Artist</h2>
    <div class="audio-container">
        <div *ngIf="index < songs.length">
        <p>Song Name: {{ songs[index]?.name }}</p>
            <audio controls>
                <source [src]="songs[index].url" type="audio/mpeg" />
            </audio>
            <!--<p>{{ songs[index].correctArtist }}</p>-->
            <select
                *ngIf="songs[index].numGuesses"
                [(ngModel)]="songs[index].userGuess"
            >
                <option value="" selected>
                    Select an artist
                </option>
                <option *ngFor="let artist of songs[index].potentialArtists">
                    {{ artist }}
                </option>
            </select>
            <div>
                <button
                    *ngIf="songs[index].numGuesses"
                    (click)="checkGuess(songs[index])"
                >
                    Check Guess
                </button>
            </div>
            <div>
                <p>Question {{ index + 1 }} / {{ songs.length }}</p>
            </div>

            <p *ngIf="songs[index].guessMade">
                <ng-container
                    *ngIf="songs[index].correctGuess; else incorrectGuess"
                    >Correct!</ng-container
                >
                <ng-template #incorrectGuess
                    >Wrong!
                    <ng-container *ngIf="songs[index].numGuesses; else over">
                        Try again! You have
                        {{ songs[index].numGuesses }} left</ng-container
                    >
                    <ng-template #over>
                        You have no guesses left. Game over!</ng-template
                    >
                </ng-template>
            </p>
        </div>
                <p *ngIf="index == songs.length">
        Congrats! You have guessed all the correct answers!
    </p>
    </div>

</div>
<div class="button-wrapper">
<button class="go-home" (click)="settingsPage()">Go Back Home</button>
</div>
