<div *ngIf="authLoading || configLoading">Loading...</div>
<div *ngIf="!authLoading && !configLoading">
    <ul>
        <li *ngFor="let song of songs">

                <audio controls>
                    <source [src]="song.url" type="audio/mpeg" />
                </audio>
                <p>{{ song.name }} by </p>
                <p> {{ song.correctArtist }} </p>
                <select [(ngModel)]="song.userGuess">
                <option value="" selected disabled hidden>Select an artist</option>
                <option *ngFor="let artist of song.potentialArtists">{{ artist }}</option>
                </select>
                <button (click)="checkGuess(song)">Check Guess</button>
                <p *ngIf="song.guessMade">
                    <ng-container *ngIf="song.correctGuess; else incorrectGuess">Correct!</ng-container>
                    <ng-template #incorrectGuess>Wrong! Try Again!</ng-template>
                </p>
        </li>
    </ul>
</div>
<button (click)="settingsPage()">Go Back to Home</button>


<!-- {{ song.artists[0].name }} -->
