
body {
    background-color: #90ee90 !important;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ccc;
     border-radius: 5px;
    background-color:#ffc0cb
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  select,
  input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }